<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/scripts.js" | relative_url }}"></script>
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox.min.js"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>

<script>
    window.addEventListener('resize', () => {
        const dropdowns = document.querySelectorAll('.dropdown-menu.show');
        dropdowns.forEach(menu => {
            menu.classList.remove('show');
            menu.closest('.dropdown').querySelector('[data-bs-toggle="dropdown"]').setAttribute('aria-expanded', 'false');
        });
    });
</script>
  